*{
	box-sizing: border-box;
	margin: 0;
}

main {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
  	margin-top: 10%; 
}

aside{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 50%;
	margin-right: auto;
	margin-left: auto;

}

li {
	font-size: 0.8em;
	margin-left: 20%
}

h6 {
	font-size: 1.2em;
	text-align: center;
}


